body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	padding: 20px;
}
h1 {
	text-align: center;
	margin-top: 0;
	color: #333;
}
form {
    position: relative;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
}

.sec{
    display: inline-block;
    padding: 20px;
    
}
#direction{
    height: 35px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid rgb(206, 206, 206);
}
.convert{
    display: list-item;
    margin-left: 20px;
}

label {

	display: block;
	margin-bottom: 10px;
	color: #333;
}
input[type="number"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}
input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #3e8e41;
}
.result {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-top: 10px;
	text-align: center;
}
